{% extends 'base.html.twig' %}

{% block title %}
    Index students
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Taille</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.lastName }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.height }}</td>
                <td>{{ student.gender}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}