
body {
    background-color: $primary;
}

.footer {
    background-color: #5eb5e0;
}

.student-gender- {
    color: $best-orange-EVER;
    &M {
        color: $gender-m;
    }
    &F {
        color: $gender-f;
    }
}

.student-height- {
    &empty {
        color: $height;
    }
    &120 {
        color: $height-120;
    }
    &130 {
        color: $height-130;
    }
    &140 {
        color: $height-140;
    }
    &150 {
        color: $height-150;
    }
    &160 {
        color: $height-160;
    }
    &170 {
        color: $height-170;
    }
    &180 {
        color: $height-180;
    }
    &190 {
        color: $height-190;
    }
    &200 {
        color: $height-200;
    }
}



