<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Super titre pour mon site{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}
    </head>
    <body>
        <div class="container col-8">
            {% block body %}

            {% endblock %}
        </div>

        <div class="text-center">
            {% include 'footer.html.twig' %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('scripts') }}
        {% endblock %}
    </body>
</html>
