
{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  BOISSONS
{% endblock %}

{% block body %}

    {% if boissons|length > 0 %}
        <ul>
            {% for key, boisson in boissons %}
                <li>
                    <a href="{{ path('boisson_show', {'boisson': boisson}) }}">
                        {{ boisson }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Le bar est vide, on est fermé</p>
    {% endif %}

{% endblock %}