
{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} -  BOISSONS
{% endblock %}

{% block body %}

    {% if date is defined %}
        <p>Date du jour : {{ date|date('d/m/Y') }}</p>
    {% endif %}

    {% if boissons|length > 0 %}
        <ul>
            {% for boisson in boissons %}
                <li>
                    <a class="btn btn-primary" ref="{{ path('boisson_show', {'boisson': boisson}) }}">
                        {{ boisson }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Le bar est vide, on est fermé</p>
    {% endif %}

{% endblock %}