
{% block body %}

{#    <p>Vive les licornes arc-en-ciel</p>#}
{#    <p>#}
{#        Compteur : {{ compteur|default("Il n'y a pas de compteur") }}#}
{#    </p>#}
{#    <div>#}
{#        {{ sentence|default("Pas de sentence")  }}#}
{#    </div>#}

{% endblock %}