<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> La carte des boissons</title>
</head>
<body>
{% block body %}

    <p>la carte des boissons</p>

    <div>
        <ul>
            <li> coca  </li>
            <li> orangina  </li>
            <li> sprite </li>


        </ul>

    </div>

{% endblock %}

</body>
</html>